# dependencies
node_modules/
.pnp
.pnp.js

# build
.next/
out/
build/
dist/

# env
.env
.env.local
.env.*.local

# Drizzle
supabase/migrations/meta/

# misc
.DS_Store
*.pem
.vercel
*.tsbuildinfo
next-env.d.ts
